[submodule "docs/Milkdown/examples"]
	path = docs/Milkdown/examples
	url = https://github.com/Milkdown/examples.git
[submodule "docs/Milkdown/website"]
	path = docs/Milkdown/website
	url = https://github.com/Milkdown/website.git
[submodule "todo-for-ai-api-server"]
	path = todo-for-ai-api-server
	url = https://github.com/todo-for-ai/todo-for-ai-api-server.git
[submodule "todo-for-ai-webpage"]
	path = todo-for-ai-webpage
	url = https://github.com/todo-for-ai/todo-for-ai-webpage.git
[submodule "todo-for-ai-mcp"]
	path = todo-for-ai-mcp
	url = https://github.com/todo-for-ai/todo-for-ai-mcp.git
