[submodule "docs/Milkdown/examples"]
	path = docs/Milkdown/examples
	url = https://github.com/Milkdown/examples.git
[submodule "docs/Milkdown/website"]
	path = docs/Milkdown/website
	url = https://github.com/Milkdown/website.git
[submodule "backend"]
	path = backend
	url = https://github.com/todo-for-ai/todo-for-ai-api-server.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/todo-for-ai/todo-for-ai-webpage.git
